<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Fireegg</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Lively Chat Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/css/font-awesome.css" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700" rel="stylesheet">
	<style type="text/css">
		.autoLog{ margin-top:20px}
		@media screen and (max-width: 767px) {
			.autoLog {margin-top:0px}
		}
		.autoHead{
			/*margin-bottom:5px*/
		}
		@media screen and (max-width: 504px) {
			.autoHead {margin-top: 5px;}
		}
		.autoArrow{
			/*margin-bottom:5px*/
		}
		@media screen and (max-width: 415px) {
			.autoArrow {margin-left: 100px;}
		}
	</style>
</head>

<body>
	<!-- header -->
	<div class="header" id="home">
        <div class="top_menu_w3layouts">

            <div class="header_left">
                <ul>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="/mail">fireegg-services@outlook.com</a></li>
                </ul>
            </div>


            <div class="header_right">
                <% if (!authElement) {%>
				<ul class="forms_right">
					<li style="margin-left:100px;" class="autoHead">
						<label style="color:#999c9e;font-size: 10px;">SIGN IN to get more discount details<br/>登録するとクーポンが取得できる</label>
					</li>
					<li class="autoHead autoArrow"><img src="/images/arrow.png" alt=" " class="img-responsive" /></li>
					<li class="autoHead"><a href="/signin"> Sign In</a> </li>
					<li class="autoHead"><a href="/signup"> Sign Up</a> </li>
				</ul>
                <%} else {%>
				<ul class="forms_right">
					<li class="autoHead"><a href="/signout"> Sign Out</a> </li>
				</ul>
                <%}%>

            </div>
            <div class="clearfix"> </div>
        </div>

		<div class="content white">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="/images/fireeggicon.png" alt=" " class="img-responsive autoLog" />
                    </div>
					<!--/.navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li><a href="/index" class="dropdown-toggle">HOME/ホーム</a></li>
                                <li><a href="/discount" class="dropdown-toggle">PRODUCTS/プロダクツ</a></li>
                                <li class="dropdown">
                                    <a  class="dropdown-toggle" data-toggle="dropdown">Amazon<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="https://www.amazon.com/shops/A20RYO65Q3ANTR?ref_=v_sp_storefront">FIREEGG-USA</a></li>
                                        <li class="divider"></li>
                                        <li><a href="https://www.amazon.co.jp/shops/A17X8WT0B8BGLY?ref_=v_sp_storefront">FIREEGG-Japan</a></li>
                                        <li class="divider"></li>
                                    </ul>
                                </li>
								<li class="dropdown">
									<a  class="dropdown-toggle" data-toggle="dropdown">SUPPORT/サポート<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="/reportProblem">Report Problem</a></li>
										<li class="divider"></li>
										<li><a href="/mail">Mail Us</a></li>
										<li class="divider"></li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
<!--	<div class="banner_inner_content_agile_w3l">
        <p>Add Some Description</p>
    </div>-->
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3ls">
		<div class="inner_breadcrumb">

			<ul class="short">
				<li><a href="/index">Home</a><span>|</span></li>
				<li>Mail Us</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="banner-bottom">
		<div class="container">
			<div class="tittle_head_w3layouts">
				<h3 class="tittle">Mail <span>Us</span></h3>
			</div>
			<div class="inner_sec_info_agileits_w3">
				<div class="contact-form">
					     <form method="post" action="/mail/toUs" onsubmit="return mySubmit();">
							 <div class="left_form">
					    	<div>
						    	<span><label>Name/名前<span style="color:red;font-weight: bold;" >*</span></label></span>
						    	<span><input name="name" type="text" class="textbox" required="" value="<%=userName%>"></span>
						    </div>
						    <div>
						    	<span><label>e-mail/電子メイル<span style="color:red;font-weight: bold;" >*</span></label></span>
						    	<span><input name="email" type="text" class="textbox" required="" value="<%=userEmail%>"></span>
						    </div>
						    <div>
						     	<span><label>Country/国<span style="color:red;font-weight: bold;" >*</span></label></span>
								<div><select style="width:100%" name="country" required="">
											<option value=" " > </option>
											<option value="USA">USA</option>
											<option value="Japan" >Japan</option>
									 </select>
								</div>

						    </div>
					    </div>
					    <div class="right_form">
								<div>
									<span><label>Message/メッセージ</label></span>
									<span><textarea name="message" required="" style="height: 170px;"> </textarea></span>
								</div>

							   	<div>
									<span><input id="mailBtn" type="submit" value="Submit" class="myButton"></span>
							  	</div>
					    </div>
					    <div class="clearfix"></div>
						</form>
				  </div>
			</div>
		

		</div>
	</div>
    <!-- footer -->
    <div class="footer_top_agile_w3ls">
        <div class="container">
            <div class="col-md-6 footer_grid">
                <h3>About Us</h3>
                <p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue eros.</p>
            </div>

            <div class="col-md-6 footer_grid">
                <h3>Contact Info</h3>
                <ul class="address">
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:fireegg-services@outlook.com">fireegg-services@outlook.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer_wthree_agile">


    </div>

    <!-- //footer -->
	<!-- js -->
	<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/js/tips.js"></script>
	<script>
		$('ul.dropdown-menu li').hover(function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function () {
			$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
	</script>
	<!-- password-script -->
	<script type="text/javascript">
        function mySubmit() {


            var dataJson = {name : $('input[name="name"]').val(), email : $('input[name="email"]').val(),
                message : $('input[name="message"]').val(), country : $('select[name="country"] option:selected').val()};

            $.ajax({
                url : "/mail/toUs",
                type : "post",
                data : dataJson,
                error : function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                },
                success : function(data) {
                    tips({msg:data});
                    $("#mailBtn").attr("disabled",true);
                    $("#mailBtn").removeClass("myButton");
                    $("#mailBtn").addClass("myButtonDisable");
                }

            });

            return false;
        }
	</script>
	<!-- //password-script -->
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</body>

</html>
